* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.sideHeaderMobile p:first-child {
    display: none;
}
.sideHeadMob{
    display: none;
}
.tagProductOne{
    position: relative; 
  }
  
  .tagProductOne::after {
    content: "50% OFF";
    position: absolute;
    background-color: red;
    color: #fff;
    font-weight: 400;
    border-radius: 8px;
    padding: 6px;
    font-size: 10px;
    right: -16px;
    top: 26px;
  }
  
  .tagProductTwo{
    position: relative; 
  }
  
  .tagProductTwo::after {
    content: "5% OFF";
    position: absolute;
    background-color: red;
    color: #fff;
    font-weight: 400;
    border-radius: 8px;
    padding: 6px;
    font-size: 10px;
    right: -16px;
    top: 26px;
  }
.sideHead {
    width: 1300px;
    margin: 0 auto;
    text-align: left;
    padding-left: 100px;
    padding-top: 100px;
    font-size: 25px;
    font-weight: 700;
}

.productCads {
    width: 1300px;
    height: max-content;
    display: grid;
    margin: 30px 0px 0px 120px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.productCard {
    background: #F6F7FB;
    border-radius: 26px;
    width: 229px;
    height: 220px;
    margin-bottom: 100px;
}

.productCard img {
    width: 120px;
    height: 193px;
    padding: 8px 34px 10px 80px;
}

.productDetails {
    display: flex;
    width: 120px;
    width: fit-content;
}

.productPriceDetails {
    display: flex;
    width: fit-content;
}

/* .productPriceDetails p{
    display: inline;
} */
.Details {
    width: 200px;
    height: 100px;
}

.productName {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 40px;
    padding: 12px 0px 0px 10px;

}


.categoryTag {
    font-size: 10px;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    padding: 8px 12px 8px 12px;
    border-radius: 24px;
    text-align: center;
    margin: 0px 30px 0px 10px;
}

.productPriceDetails span {
    font-size: 19PX;
    text-align: center;
    text-decoration-line: line-through;
    color: rgba(26, 32, 44, 0.24);
    padding: 0px 6px 0px 0px;
}

.productPriceDetails P {
    font-size: 20PX;
    font-weight: 600;
}



@media (max-width:1200px){
    .sideHeaderMobile p:first-child {
        display: none;
    }
    .sideHeadMob{
        display: none;
    }

    .sideHead {
        width: 1033px;
    }
    
    .productCads {
        width: 950px;
    }
    
    .productCard {
        width: 200px;
        height: 204px;
        margin-bottom: 132px;
    }
    
    .productCard img {
        width: 120px;
        height: 193px;
        padding: 8px 34px 10px 80px;
    }
    
    .productDetails {
        display: flex;
        width: 120px;
        width: fit-content;
    }
    
    .productPriceDetails {
        display: flex;
        width: fit-content;
    }
    
    .productName {
        font-size: 17px;
        padding: 7px 0px 0px 7px;
    }
    
    
    .productPriceDetails P {
        font-size: 20PX;
        font-weight: 600;
    }
    
}
@media (max-width: 900px){
    .sideHeaderMobile p:first-child {
        display: none;
    }
    .sideHeadMob{
        display: none;
    }

    .sideHead {
        width: 1033px;
    }
    
    .productCads {
        width: 713px;
        display: grid;
        margin: 30px 0px 0px 82px;
    }
    
    .productCard {
        width: 165px;
        height: 201px;
        margin-bottom: 128px;
    
    }
    
    .productCard img {
        width: 103px;
        height: 190px;
        padding: 8px 34px 10px 59px;
    }
    
    .productDetails {
        display: flex;
        width: 120px;
        width: fit-content;
    }
    
    .productPriceDetails {
        display: flex;
        width: fit-content;
    }
    

    .productName {
        font-size: 17px;
        padding: 7px 0px 0px 7px;
    }
    
    
    .productPriceDetails P {
        font-size: 20PX;
        font-weight: 600;
    }
    
}
@media (max-width: 600px) {
 
    .sideHead {
        display: none;
    }
    .sideHeaderMobile p:first-child{
        display: inline-block;
        color: #2975FF;
        font-style: italic;
        font-weight: 500;
        padding-left: 172px;
        padding-top: 109px;
        font-size: 25px;
        letter-spacing: 1px;
        line-height: 7px;
    }
    
    .sideHeadMob{
        display: inline-block;
        width: 347px;
        margin: 0 auto;
        text-align: left;
        padding-left: 168px;
        padding-top: 23px;
        font-size: 38px;
        font-weight: 700;
    }
    .productCads {
        width: 1300px;
        height: max-content;
        display: inline-block;
        margin: 30px 0px 0px 140px;

        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .productCard {
        background: #F6F7FB;
        border-radius: 26px;
        width: 229px;
        height: 220px;
        margin-bottom: 100px;
    }

    .productCard img {
        width: 120px;
        height: 193px;
        padding: 8px 34px 10px 80px;
    }

    .productDetails {
        display: flex;
        width: 120px;
        width: fit-content;
    }

    .productPriceDetails {
        display: flex;
        width: fit-content;
    }

    .Details {
        width: 200px;
        height: 100px;
    }

    .productName {
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 40px;
        padding: 12px 0px 0px 10px;

    }


    .categoryTag {
        font-size: 10px;
        display: flex;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        padding: 8px 12px 8px 12px;
        border-radius: 24px;
        text-align: center;
        margin: 0px 30px 0px 10px;
    }

    .productPriceDetails span {
        font-size: 19PX;
        text-align: center;
        text-decoration-line: line-through;
        color: rgba(26, 32, 44, 0.24);
        padding: 0px 6px 0px 0px;
    }

    .productPriceDetails P {
        font-size: 20PX;
        font-weight: 600;
    }
   
}

@media (max-width: 450px) {


    .sideHead {
        display: none;
    }
    .sideHeaderMobile p:first-child{
        display: inline-block;
        color: #2975FF;
        font-style: italic;
        font-weight: 500;
        padding-left: 104px;
        padding-top: 109px;
        font-size: 25px;
        letter-spacing: 1px;
        line-height: 7px;
    }
    
    .sideHeadMob{
        display: inline-block;
        width: 347px;
        margin: 0 auto;
        text-align: left;
        padding-left: 100px;
        padding-top: 23px;
        font-size: 38px;
        font-weight: 700;
    }
    .productCads {
        width: 1300px;
        height: max-content;
        display: inline-block;
        margin: 30px 0px 0px 100px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .productCard {
        background: #F6F7FB;
        border-radius: 26px;
        width: 229px;
        height: 220px;
        margin-bottom: 100px;
    }

    .productCard img {
        width: 120px;
        height: 193px;
        padding: 8px 34px 10px 80px;
    }

    .productDetails {
        display: flex;
        width: 120px;
        width: fit-content;
    }

    .productPriceDetails {
        display: flex;
        width: fit-content;
    }

    .Details {
        width: 200px;
        height: 100px;
    }

    .productName {
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 40px;
        padding: 12px 0px 0px 10px;

    }


    .categoryTag {
        font-size: 10px;
        display: flex;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        padding: 8px 12px 8px 12px;
        border-radius: 24px;
        text-align: center;
        margin: 0px 30px 0px 10px;
    }

    .productPriceDetails span {
        font-size: 19PX;
        text-align: center;
        text-decoration-line: line-through;
        color: rgba(26, 32, 44, 0.24);
        padding: 0px 6px 0px 0px;
    }

    .productPriceDetails P {
        font-size: 20PX;
        font-weight: 600;
    }


}